body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Hero.jpg");

  /* Set a specific height */
  height: 75%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}

.hero-text h1 {
  font-size: 76px;
}

.hero-text h3 {
  font-size: 30px;
}

p, li{
  font-family: Calibri Light;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #595959;
  font-size: 20px
}

a:link {
  font-family: Calibri;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #595959;
  text-decoration: none;
  font-size: 20px
}

a:visited {
  color: blue;
}

h4 {
  font-family: Calibri Light;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #595959;
  font-size: 25px
}

.footer {
  background-color: #535353;
  color: white;
  text-align: center;
  padding: 32px 0;
  font-family: Calibri;
}
